<div class="card text-center" id="product-list">
  <h2>List of Products</h2>
  <div class="container">
    <div class="card-group">
      {{#each products}}
      <div class="row">
        <main class="col-sm-auto row"></main>
        <aside class="col-sm-10">
          <div class="product">
            <h2>{{this.title}}</h2>
            <ul class="list-group">
              <hr>
              <img src="{{this.thumbnail}}" alt="">
              <p><strong>{{this.description}}</strong></p>
              <h3>Price: ${{this.price}}</h3>
              <h3>Stock: {{this.stock}}</h3>
              <p>Category: {{this.category}}</p>
              <p>Code: {{this.code}}</p>
              <p>_id: {{this.id}}</p>
            </ul>
            <button class="btn btn-secondary" onclick="addProductToCart('{{this._id}}')">Agregar al carrito</button>
          </div>
        </aside>
      </div>
      {{/each}}
    </div>
  </div>
</div>

<div class="container" id="product_form">
  <h2 class="text-center">Carrito de Compras</h2>
  <form id="addProductForm" method="POST" action="/api/carts" class="form-group col-auto">
  {{#if cart.length}}
  <table class="table">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each cart}}
      <tr>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td>${{this.price}}</td>
        <td>{{this.quantity}}</td>
        <td>${this.price * this.quantity}</td>
        <td>
          <button class="btn btn-danger" onclick="removeFromCart('{{this._id}}')">Eliminar</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="text-end">
    <p>Total: ${{total}}</p>
    <button class="btn btn-primary">Realizar Pedido</button>
  </div>
  {{else}}
  <p>El carrito de compras está vacío.</p>
  {{/if}}
  </form>
</div>


<script src="/socket.io/socket.io.js"></script>


