<div>
  <h2>
    title:
    {{product.title}}
  </h2>
  <h3>
    id:
    {{product.id}}
  </h3>
  <h3>
    price:
    {{product.price}}
  </h3>
    description:
  <p>{{product.description}}</p>
  <h3>
    Category:
    {{product.category}}
  </h3>
  <h3>
    thumbnail: 
    {{product.thumbnail}}
  </h3>
  <h3>
    code: 
    {{product.code}}
  </h3>    
  <h3>
  stock:
  {{product.stock}}
  </h3>      
</div>