<div>
  <h2>Bienvenido, {{user.email}} !!!</h2>
  <p>User: {{user.firstName}}</p>
  <h2><strong>All Products</strong></h2>

{{#each products}}
  <div class="card">
  <div class="card-body">
    <h2>{{this.title}}</h2>
    <p>{{this.description}}</p>
    <p>Price: {{this.price}}</p>
    <p>{{this.thumbnail}}</p>
    <p>{{this.code}}</p>
    <p>{{this.stock}}</p>
    <p>{{this.category}}</p>
    <a href="/products/{{this._sid}}"> Ver {{this._id}}</a>
    <button class="btn btn-primary" onclick="addProductToCart('{{this._id}}')">Add to cart {{this._id}}</button>
    <br />
    <a href="/products/{{this.id}}" class="btn btn-primary">View Details</a> 
    <form action="/api/carts/{{cartId}}/products/{{this._id}}" method="POST">
      <input type="number" name="quantity" value="1" min="1">
      <button type="submit" class="btn btn-primary">Add to Cart</button>
    </form>
  </div>
</div>
{{/each}}

totalPages: 
{{totalPages}}
prevPage:
{{prevPage}}
nextPage:
{{nextPage}}
currentPage:
{{currentPage}}
hasPrevPage:
{{hasPrevPage}}
hasNextPage:
{{hasNextPage}}
prevLink:
{{prevLink}}
nextLink:
{{nextLink}},

<div class="pagination">
  {{#if prevLink}}
    <a href="{{prevLink}}" class="btn btn-primary">Previous</a>
  {{/if}}

  {{#if nextLink}}
    <a href="{{nextLink}}" class="btn btn-primary">Next</a>
  {{/if}}
</div>
<p><a href="/auth/logout"> Logout </a></p>
</div>
