<div>
<h1>Hola {{user.name}}!! tu edad es {{user.edad}}</h1>
{{#if user.isAdmin}}
    <h3>ES ADMINISTRADOR</h3>
    <h4>LISTADO DE USUARIOS</h4>
    {{#each user}}
    <div>
    <p>nombre {{this.name}}, edad {{this.edad}}</p>
    </div>
    {{/each}}
{{else}}
    NO ES ADMIN
{{/if}}
</div>